@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
body {
    font-family: 'Bonheur Royale', cursive;
    font-size:25px;
    background-color: green;
}
h2{
    background-color:#f7ca06;
}
header{
    grid-area: hd;
}
sidebar{
    grid-area:sd;
    margin-right: 10px;
}
footer{
    grid-area: ft;
    text-align:center;
}
section{
    grid-area: mn;

}
.grid-container{
    display:grid;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "hr hr hr hr hr hr hr hr"
    "sd sd sd mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft";
    grid-template-columns:repeat(8,1fr);
    grid-template-rows: repeat(4,auto);
    /* column-gap: 10px;
    row-gap: 10px; */
}

.sidebar-img{
    /* height: 565px;
    width: 556px; */
    width:100%;
    height:99.5%;
    border: 2px solid red;
}
.header-link{
    color:#ff0000;
    margin-right: 10px;
}
.flex-container-1{
    height:100%;
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.header-span{
    margin-left:10px;
}
hr{
    grid-area: hr;
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}
.author-link{
    width:15%;
    text-align: center;
    color:blue;
}
.flex-container-2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
    width: 100%;

}
.flex-container-3 span{
    margin-left:10px;
}
section{
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid black;
}
a img{
    width:50px;
    height:50px;
    margin-left:3px;
}
.flex-container-4{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    width:100%;
    margin-top:10px;

}
.flex-container-3{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    
}
a:hover{
    border: 2px dashed rgb(31, 31, 31);
}